@model IEnumerable<ThunderITforGEA.Models.SprzetUzytkownika>
@{
    ViewBag.Title = "Index";
}

<h2>Equipment list</h2>

<p>
    @Html.ActionLink("New record", "Create_en", "SprzetUzytkownikas", new { User_Id = ViewBag.User_Id },null)
    | @Html.ActionLink("Download as PDF", "zrobPDFUzytkownik", "PDF", null, null) |
    @Html.ActionLink("Manage users","ManageUserRoles","Roles",null,null) |
    @Html.ActionLink("Archive", "Index", "Historia", null, null) |
    @Html.ActionLink("Register new account", "Register","Account",null,null) |
    @Html.ActionLink("Change password for another user", "ResetPassword", "Account", null, null)
</p>


      
@using (Html.BeginForm())
{
    <p>
        Search using names: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}


    <div class="form-group" >
      
        <div class="col-md-4" style="padding-left:0;">
            @Html.DropDownList("Choose type", new List<SelectListItem> {
            new SelectListItem{Text = "Search by department:", Value = "0", Disabled=true,Selected=true},
                new SelectListItem{Text = "Board", Value = "1"},
                new SelectListItem{Text = "Equipment Sales", Value = "2"},
                new SelectListItem{Text = "Solution Sales", Value = "3"},
                new SelectListItem{Text = "Service", Value = "4"},
                new SelectListItem{Text = "Q-HSE/Lean Manager", Value = "5"},
                new SelectListItem{Text = "Supply Chain", Value = "6"},
            }, new { @id = "segment1", @class = "form-control" })
        </div>
     
        <div class="col-md-4" style="padding-left:0;">
            @Html.DropDownList("Wybierz rodzaj", new List<SelectListItem> {
             new SelectListItem{Text = "Search by organization unit:", Value = "0", Disabled=true,Selected=true},
                new SelectListItem{Text = "Separation Sales", Value = "1"},
                new SelectListItem{Text = "Food Processing and Packing Sales", Value = "2"},
                new SelectListItem{Text = "Milking and Dairy Farming Sales", Value = "3"},
                new SelectListItem{Text = "Flow Components, Compression and Homogenization Sales", Value = "4"},
                new SelectListItem{Text = "Dairy Sales", Value = "5"},
                new SelectListItem{Text = "Utilities Sales", Value = "6"},
                new SelectListItem{Text = "Food Sales", Value = "7"},
                new SelectListItem{Text = "Beverage sales", Value = "8"},
                new SelectListItem{Text = "Chemicals Sales", Value = "9"},
                new SelectListItem{Text = "Project Execution", Value = "10"},
                 new SelectListItem{Text = "Service Sales Equipment", Value = "11"},
                  new SelectListItem{Text = "Service Branch Mazovia", Value = "12"},
                   new SelectListItem{Text = "Service Support", Value = "13"},
                    new SelectListItem{Text = "Service Sales Solutions", Value = "14"},
                     new SelectListItem{Text = "Service Branch Silesia", Value = "15"},
                      new SelectListItem{Text = "Service Branch Pomerania", Value = "16"},
                       new SelectListItem{Text = "Local Procurement", Value = "17"},
                    new SelectListItem{Text = "Local Logistics & Warehouse", Value = "18"},
            }, new { @id = "segment2", @class = "form-control" })
        </div>
    </div>
    <table class="table">
    <tr>
        <th>
            @Html.ActionLink("First/Last name", "Index", "SprzetUzytkownikas", new { sortOrder = 1 }, null)
        </th>
        <th>
            @Html.ActionLink("Deparment", "Index", "SprzetUzytkownikas", new { sortOrder = 2 }, null)
        </th>
        <th>
            @Html.ActionLink("Organization unit", "Index", "SprzetUzytkownikas", new { sortOrder = 3 }, null)
        </th>
        <th>
            @Html.ActionLink("Equipment type", "Index", "SprzetUzytkownikas", new { sortOrder = 4 }, null)
        </th>

        <th>
            Brand
        </th>
        <th>
           Model
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.zwracany == "tak")
        {
            <tr style="background-color:orangered;">
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.imie)
                    @Html.DisplayFor(modelItem => item.AspNetUsers.nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.segment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.segment2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rodzajSprzetu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>



                <td>
                    @Html.ActionLink("Edit", "Edit", "SprzetUzytkownikas", new { id = item.Id_ua }, null) |

                    @Html.ActionLink("Confirm returning", "Delete", "SprzetUzytkownikas", new { id = item.Id_ua }, null)
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.imie)
                    @Html.DisplayFor(modelItem => item.AspNetUsers.nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.segment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.segment2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rodzajSprzetu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>



                <td>
                    @Html.ActionLink("Edit", "Edit", "SprzetUzytkownikas", new { id = item.Id_ua }, null) |

                    @Html.ActionLink("Return", "Delete", "SprzetUzytkownikas", new { id = item.Id_ua }, null)
                </td>
            </tr>
        }
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
   
    $('#segment1').on('change', function () {
        var e = document.getElementById("segment1");
        var strUser = e.options[e.selectedIndex].text;
        var vm = { search: strUser };
        $.ajax({
            url: "SprzetUzytkownikas/Index2",
            type: "POST",
            async: true,
            dataType: "html",
            data: vm,
            success: function (data) {
                $('body').empty().html(data);
            },
        });
    });

    $('#segment2').on('change', function () {
        var e = document.getElementById("segment2");
        var strUser = e.options[e.selectedIndex].text;
        var vm = { search: strUser };
        $.ajax({
            url: "SprzetUzytkownikas/Index2",
            type: "POST",
            async: true,
            dataType: "html",
            data: vm,
            success: function (data) {
                $('body').empty().html(data);
            },
        });
    });

     


</script> 
}