@model IEnumerable<ThunderITforGEA.Models.SprzetUzytkownika>

@{
    ViewBag.Title = "Index";
}

<h2>Lista wyposażenia</h2>

<p>
    @Html.ActionLink("Nowy wpis", "Create", "SprzetUzytkownikas", new { User_Id = ViewBag.User_Id },null)
    | @Html.ActionLink("Pobierz jako PDF", "zrobPDFUzytkownik", "PDF", null, null)
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.rodzajSprzetu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marka)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.zwracany == "tak")
        {
            <tr style="background-color:orangered;">

                <td>
                    @Html.DisplayFor(modelItem => item.rodzajSprzetu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marka)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
              

                <td>
              
                        @Html.ActionLink("Edycja", "Edit", "SprzetUzytkownikas", new { id = item.Id_ua }, null)
                    |  @Html.ActionLink("Zwróć", "Delete", "SprzetUzytkownikas", new { id = item.Id_ua }, null)
                   
                </td>
            </tr>
        }
        else
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.rodzajSprzetu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marka)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.model)
                </td>
             

                <td>
                 
                        @Html.ActionLink("Edycja", "Edit", "SprzetUzytkownikas", new { id = item.Id_ua }, null)
                    
                    |  @Html.ActionLink("Zwróć", "Delete", "SprzetUzytkownikas", new { id = item.Id_ua }, null)
                </td>
            </tr>
        }
    }

</table>
